RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^(.+)$ index.html?_apiPath=$1 [QSA,L]

AddDefaultCharset UTF-8
AddCharset UTF-8 .mjs

<IfModule mod_mime.c>
    AddType text/javascript                             js mjs
</IfModule>