* {
    box-sizing: border-box;
}

:root, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.slide-viewport {
    /*position: relative;*/
}

.slide-wrapper {
    --slide-number: 1;
    --dimm-opacity: 0;
    position: absolute;
    top: 0;
    /*height: calc(var(--slide-number)*100vh);
    z-index: var(--slide-number);*/

}

.slide-content {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.slide-content:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    pointer-events: none;
    opacity: var(--dimm-opacity);
}

.slide-wrapper:last-child {
    position: initial;
    top: initial;
}

.slide-wrapper {
    height: calc(var(--slide-number) * 100vh);
}

.slide-content {
    z-index: calc(1000 + (var(--slide-number) * -1));
}


.slide-wrapper:target {

}

.slide-wrapper:target + .slide-wrapper .slide-content {
    background-image: none;
    background-color: white;
}